h1, p, div, section {
    text-align: center;
    width: 69%;
    margin: auto;
}

h1 {
    font-size: 3.7em;
}

p {
    padding: 20px;
    font-size: 22.3px;
}

div {  
    width: 69%;
    font-size: 22.3px;
    margin: auto;
}

div#op1, div#op2, div#op3, div#op4 {
    border-bottom: black solid 1px;
    /* border-left: black solid 1px; */
}

section {
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 60px;
}